<a href="https://colab.research.google.com/github/JITHINJITH/AI-LAB/blob/master/Svm_classifier_on_kaggle_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import numpy as np
import pandas as pd

In [38]:
heart = pd.read_csv('/content/heart.csv')
x = heart.iloc[:,:-1].values
y = heart.iloc[:,-1].values
heart.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [39]:
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(x,y)
y_pred = classifier.predict(x)

In [40]:
target_pred = np.random.randint(low=0,high=100,size=(1,13))

In [41]:
classifier.predict(target_pred)

array([0])

In [42]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y,y_pred)
print('Accuracy of the classifier is ',acc*100)

Accuracy of the classifier is  67.32673267326733